body {
    background-color: rgba(255, 166, 0, 0.63);
}

hr {
  background-color: red;
  border-style: dotted none none;
  border-width: 10px;
  border-color: yellow;
  height: 0px;
  width: 50%;
}

h1{
    color: aqua;
}

h3 {
    color: aquamarine;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

#tableDirectory:hover {
    background-color: red;
}

div {
    background-color: blue;
    border-style: outset;
    border-color: crimson;
    border-width: 20px 20px 20px 20px;

    width: 97%;
    height: 200px;
    padding-top: 140px;
}